.navbar-brand{
    margin-left: 120px;
    
}

.nav {
    width: 80%;
    margin-bottom: 10px;
}

nav {
    background-color: white;
}

.carousel {
    display: flex;
    justify-content: center;
}
.banner {
    display: flex;
    width: 80%;
    height: 550px;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 60px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(253 244 255);
  }
  
  .left-inner-ttle {
    max-width: 300px;
    font-size: 30px;
  }
  
  .right {
  width:60%;
  }
  
  .right img {
  height: 550px;
  object-fit: cover;
  border-radius: 0px 20px 20px 0px;
  }


.carousel-inner {
    height: 550px;
    width: 100%;
}

.currency-weather {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 500px;
    width: 100%;
    background-color: rgb(250 232 255);
}

.currency {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#currencyBlock {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(232 121 249);
    border-radius: 20px 20px;
}

#currencyBlock h1 {
    margin: 20px;
 }

.weatherBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
}


.card-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid rgb(232 121 249);
    height: 400px;
    width: 400px;
    border-radius: 20px 20px;
}

.card-weather .card-body {
    font-size: 15px;
}

#currencyBlock h1 {
    font-size: 25px;
}

.input-group-text {
    min-width: 100px;

}

.input-group-prepend > * {
    margin-bottom: 10px;
}

#result {
    margin-top: 10px;
}

.searchBar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.museum {
    display: flex;
}
.activities {
    min-height: 500px;
    background-color: rgb(250 232 255);
}


.activities-button {
    background-color: rgb(250 232 255);
    height: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.activities-button>* {
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    height: 180px;
    width: 180px;
    border-radius: 50% 50% 0 0;
}

activities-button:hover >* {
    border: none;
}

#activities-left {
    max-height: 500px;
    width: 40%;
    overflow: scroll;
}

#activities-right {
    width: 70%;
    height: 500px;

}

#map { 
    height: 0px;
 }

 #map {
  transition: height 0.5s ease;
}

#museum {
    background-image: url(/img/patrick-langwallner-TTz_H1FrdIc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#food {
    background-image: url(/img/victoria-shes-90Z4qIxWc8Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#arc{
    background-image: url(/img/photo-1624724586264-aaa82432dd13.avif);
    background-size: cover;
    background-position: center;
}

#beach{
    background-image: url(/img/jake-grella-scEd8Gap4SU-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#vp{
    background-image: url(img/byeong-woo-kang-JC1J-mrV3uA-unsplash1.jpg);
    background-size: cover;
    background-position: center;
}

#hostel{
    background-image: url(/img/ralph-ravi-kayden-FqqiAvJejto-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.card {
    width: 100%;
    margin-bottom: 10px;
}